{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
{% csrf_token %}

<main class="markdown-container achievement-item">
     {{ about_content|safe }}
</main>

<div class="container mt-4"> 
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 markdown-body">
            {{ markdown_data|safe }}
        </div>
    </div>
</div>

{% endblock %}

{% block schema %}
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Audrius Morkūnas",
  "url": "http://morkunas.info",
  "image": {
    "@type": "ImageObject",
    "url": "http://morkunas.info{% static 'images/logo.png' %}",
    "width": "600",
    "height": "600"
  },
  "jobTitle": "Technology enthusiast with extensive experience!",
  "sameAs": [
    "https://github.com/adotbyte",
    "https://www.linkedin.com/in/audrius-morkunas-939a2581/"
  ],
  "knowsAbout": ["Python", "Django", "Git", "AI Integration", "Web Development", "Linux", "Docker", "Cloudflare Zero Trust"]
}
{% endblock %}