{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}Audrius Morkūnas | Portfolio{% endblock %}</title>

    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}?v=3">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}?v=3">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}?v=3">

    <meta name="theme-color" content="#0d1117"> 
    <meta name="description" content="Explore the portfolio of Audrius Morkūnas - Creator of AdotByte AI. Linux, Docker, Django, and React.">

    <meta property="og:title" content="Audrius Morkūnas | Portfolio">
    <meta property="og:image" content="https://morkunas.info/logo.png">
    <meta property="og:image:secure_url" content="https://morkunas.info/logo.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="Explore my projects, technical skills in Linux and Django, and interact with AdotByte AI.">

    <meta name="twitter:image" content="https://morkunas.info/logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Audrius Morkūnas | Portfolio">
    <meta name="twitter:description" content="Explore my projects, technical skills in Linux and Django, and interact with AdotByte AI.">


    <link rel="stylesheet" href="{% static 'assets/index.css' %}">
    {% block extra_style %}{% endblock %}
</head>
<body class="bg-[#0d1117] text-white"> 
    {% csrf_token %}
    
    <div id="root"></div>

    <script type="module" src="{% static 'assets/index.js' %}"></script>
</body>
</html>